/*!
 * Bruno Prela 6.170 Game of Life
 * Copyright Bruno Prela 2016
 */

/* Body */
body {
    color: black;
    background-color: white;
}

/* Footer */
footer {
    margin: 50px 0;
}

/* Grid */

#gridDivs {
    width: 400px;
    height: 400px;
    margin: auto;
}

#gridDivs div {
    width: 20px;
    height: 20px;
    outline: 1px solid;
    color: gray;
    float: left;
}

/* Cells */

.aliveCell{
    background-color:black;
    border-color: black;
}

.deadCell{
    background-color:white;
    border-color: black;
}

#button {
    text-align: center;
    padding-left: 50px;
}

/* Index alignment */

.center {
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 10px;
}


